[submodule "uade"]
	path = ext/uade
	url = https://gitlab.com/uade-music-player/uade.git
[submodule "ext/ahx2play"]
	path = ext/ahx2play
	url = https://github.com/8bitbubsy/ahx2play.git
[submodule "ext/c-flod"]
	path = ext/c-flod
	url = https://github.com/rofl0r/c-flod
[submodule "ext/oktalyzer"]
	path = ext/oktalyzer
	url = https://github.com/hitchhikr/oktalyzer
[submodule "ext/nostalgicplayer"]
	path = ext/nostalgicplayer
	url = https://github.com/neumatho/NostalgicPlayer.git
	shallow = true
[submodule "ext/vamiga"]
	path = ext/vamiga
	url = https://github.com/dirkwhoffmann/vAmiga.git
	shallow = true
